USE [master]
GO
/****** Object:  Database [World]    Script Date: 24.8.2014 г. 14:25:24 ч. ******/
CREATE DATABASE [World]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'World', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\World.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'World_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\World_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [World].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [World]
GO
/****** Object:  Table [dbo].[ADDRESSES]    Script Date: 24.8.2014 г. 14:25:24 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESSES](
	[id] [int] NOT NULL,
	[address_text] [nvarchar](150) NOT NULL,
	[town_id] [int] NOT NULL,
 CONSTRAINT [PK_ADDRESSES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTINENTS]    Script Date: 24.8.2014 г. 14:25:24 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTINENTS](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONTINENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 24.8.2014 г. 14:25:24 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[continent_id] [int] NOT NULL,
 CONSTRAINT [PK_COUNTRIES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONS]    Script Date: 24.8.2014 г. 14:25:24 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONS](
	[id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[address_id] [int] NOT NULL,
 CONSTRAINT [PK_PERSONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOWNS]    Script Date: 24.8.2014 г. 14:25:24 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOWNS](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[country_id] [int] NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[ADDRESSES] ([id], [address_text], [town_id]) VALUES (1, N'Stefan Karadja', 1)
INSERT [dbo].[ADDRESSES] ([id], [address_text], [town_id]) VALUES (2, N'Hadji Dimitar', 2)
INSERT [dbo].[CONTINENTS] ([id], [name]) VALUES (1, N'Africa')
INSERT [dbo].[CONTINENTS] ([id], [name]) VALUES (2, N'Europe')
INSERT [dbo].[CONTINENTS] ([id], [name]) VALUES (3, N'North America')
INSERT [dbo].[COUNTRIES] ([id], [name], [continent_id]) VALUES (1, N'Bulgaria', 2)
INSERT [dbo].[COUNTRIES] ([id], [name], [continent_id]) VALUES (2, N'USA', 3)
INSERT [dbo].[COUNTRIES] ([id], [name], [continent_id]) VALUES (3, N'Spain', 2)
INSERT [dbo].[PERSONS] ([id], [first_name], [last_name], [address_id]) VALUES (1, N'Todor', N'Gospodinov', 1)
INSERT [dbo].[PERSONS] ([id], [first_name], [last_name], [address_id]) VALUES (2, N'Nikolay', N'Spasov', 2)
INSERT [dbo].[TOWNS] ([id], [name], [country_id]) VALUES (1, N'Veliko Tarnovo', 1)
INSERT [dbo].[TOWNS] ([id], [name], [country_id]) VALUES (2, N'Chicago', 2)
USE [master]
GO
